{{#each cellRows as |row|}}
    <tr class="board-row">
      {{#each row.cells as |cell|}}
        {{game-board-cell fireShot='fireShot' cell=cell}}
      {{/each}}
    </tr>
{{/each}}

<h3>Remaining Ships</h3>

{{#unless aircraftCarrierCellsRemaining}}
Aircraft Carrier
{{/unless}}
{{#unless battleshipCellsRemaining}}
Battleship
{{/unless}}
{{#unless submarineCellsRemaining}}
Submarine
{{/unless}}
{{#unless destroyerCellsRemaining}}
Destroyer
{{/unless}}
{{#unless patrolBoatCellsRemaining}}
Patrol Boat
{{/unless}}