{{#each cellRows as |row|}}
    <tr class="board-row">
      {{#each row.cells as |cell|}}
        {{game-board-cell fireShot='fireShot' cell=cell}}
      {{/each}}
    </tr>
{{/each}}

<h3>Remaining Ships</h3>

{{#if aircraftCarrierCellsRemaining}}
Aircraft Carrier
{{/if}}
{{#if battleshipCellsRemaining}}
Battleship
{{/if}}
{{#if submarineCellsRemaining}}
Submarine
{{/if}}
{{#if destroyerCellsRemaining}}
Destroyer
{{/if}}
{{#if patrolBoatCellsRemaining}}
Patrol Boat
{{/if}}