<div class="container">
  <div class="col-xs-12 center-block main-screen">
    <h2 id="title">Welcome to Ember Battleboats</h2>

    <div class="pull-left">
      <h2 class="player-one">Player One</h2>
      {{game-board-grid gameBoard=model.playerOneBoard fireShot='fireShot'}}
    </div>
    <div class="pull-right">
      <h2 class="player-two">Player Two</h2>
      {{game-board-grid gameBoard=model.playerTwoBoard fireShot='fireShot'}}
    </div>
  </div>
</div>