<h2 id="title">Welcome to Ember Battleboats</h2>

<h2 class="player-one">Player One</h2>
{{game-board-grid gameBoard=model.playerOneBoard}}

<h2 class="player-two">Player Two</h2>
{{game-board-grid gameBoard=model.playerTwoBoard}}